
.error {
    -fx-text-fill: #B91C1C !important;
}

.list-cell:empty {
    -fx-background-color: #EFF6FF;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: #BFDBFE;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.tooltip-text {
    -fx-text-fill: #1E3A8A;
}
